<?xml version="1.0" ?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2024 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" translate="label">
            <group id="atoa" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label">
                <label>Atoa Payment</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="access_token" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Access Token from Atoa Business App</label>
                </field>
                <field id="webhook_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Webhook URL</label>
                    <frontend_model>Atoa\AtoaPayment\Block\Adminhtml\System\Config\WebhookUrl</frontend_model>
                </field>
                <field id="generate_webhook_url" translate="label comment" type="button" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Generate</button_label>
                    <comment>Click the button to generate webhook URL.</comment>
                    <frontend_model>Atoa\AtoaPayment\Block\Adminhtml\System\Config\GenerateWebhookUrl</frontend_model>
                </field>
                <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
                    <label>Title</label>
                </field>
                <field id="create_auto_invoice" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create Auto invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Invoice will create when order paid success</comment>
                </field>
                <field id="description" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_status_paid" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paid Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_status_cancel" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cancel Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="allowspecific">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="multiselect">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label" type="text">
                    <label>Sort Order</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="textarea">
                    <label>Instructions</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Min order total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max order total</label>
                </field>
                <field id="min_allowed_amount" translate="label" type="text" sortOrder="170" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Min Allowed Amount</label>
                </field>
                <field id="max_allowed_amount" translate="label" type="text" sortOrder="180" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Max Allowed Amount</label>
                </field>
                <field id="default_callback_store" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Callback Store</label>
                    <source_model>Magento\Config\Model\Config\Source\Store</source_model>
                    <comment>The callback will be redirected to this store view automatically.</comment>
                </field>
                <group id="atoa_display_settings" translate="label" type="text" sortOrder="195" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Setting</label>
                    <field id="enable_store_view_banner" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enable Store View Banner</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="enable_banner_product_listing" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enable banner on Product List page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="enable_banner_product_detail" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enable banner on Product Detail page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="enable_information_popup" translate="label" type="select" sortOrder="235" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enable Information Popup</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="banner_content_text" translate="label" type="text" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Banner Content Text</label>
                        <comment><![CDATA[Support variable {{logo}}. The {{logo}} will be replaced by the logo icon. <br />
                                Example: "{{logo}} Pay using & win cashback" with style Gray <span class="atoa-demo"><span class="atoa-icon"></span>Pay using & win cashback</span>]]></comment>
                    </field>
                    <field id="banner_styles" translate="label" type="select" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Styles</label>
                        <source_model>Atoa\AtoaPayment\Model\Source\Styles</source_model>
                    </field>
                </group>
                <group id="atoa_checkout_setting" translate="label" type="text" sortOrder="195" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Page Setting</label>
                    <field id="enable_banner_checkout" translate="label" type="select" sortOrder="230" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enable banner on checkout page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="banner_styles" translate="label" type="select" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Styles</label>
                        <source_model>Atoa\AtoaPayment\Model\Source\Styles</source_model>
                    </field>
                    <field id="banner_checkout_text" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Banner Checkout Text</label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
